.bottom-row {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* zieht die Box um ihre halbe Breite zurück → mittig */
    margin-bottom: 1%;
    border-radius: 20px;
    
    /* Inhalt drin zentrieren: */
    /*justify-content: center;   !* horizontal *!*/
    /*align-items: center;       !* vertikal *!*/
    padding: 18px 18px;
    background: #1a1a1a;
    /*box-sizing: border-box;*/
    opacity: 95%;
}
